PORT=5000
MONGODB_URI=mongodb://localhost:27017/whatsapp-ai-agent
JWT_SECRET=your-jwt-secret-here
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

META_ACCESS_TOKEN=EAAWYih5CORIBStnTA6AfwsIuTq1qxXX4A5QaMsGpEZBNLWz7H2Gxv17rSPY78QsVZBLKPnZBi8250DwEId8OWesmGjjtT3daWI2ZBioTBNm4WFP24ZBECP1VD4jr7UHz8ZBPZA9Wc8DqupKimnFVZBZBPcBDVd1FNCgA8ImFi40YMowmXow6qvrcEagQrMXgh1HIk45TImRjzBnPiDBV1dwKq9iyBxgWt03w8Pd5AhEqc4Lsl5CbYSKkSbgYpGZBSobbhqhFDgCHjFxuhuSHVZBHGToMGk9sBeFQqt2IkcZD
META_PHONE_NUMBER_ID=1335519452979441
META_WABA_ID=2122357831695183
META_VERIFY_TOKEN=
META_APP_SECRET=

AI_API_KEY=
VOICE_PROVIDER_API_KEY=
